asgiref==3.8.1
cffi==1.17.1
cryptography==44.0.1
Django==5.1.6
django-jazzmin==3.0.1
django-storages==1.14.5
gunicorn==23.0.0
more-itertools==10.6.0
packaging==24.2
pillow==11.1.0
psycopg2==2.9.10
pycparser==2.22
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.1
