{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<section class="">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body" style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Categories</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ categories|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'category-page' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient bg-info">
                               <i class="fa fa-list"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body" style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Products</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ products|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'product-page' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient bg-info">
                                <i class="fa fa-boxes fs-2"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body" style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Transactions</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ sales|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'invoice-page' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient bg-info">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body"style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Debts</div>
                            <a href="{% url 'my_debts' %}"> <div class="summary-count text-end fw-bolder mt-3 px-4">See</div></a>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'my_debts' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient  bg-info">
                                <i class="fa fa-list"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body" style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Employee</div>
                            <a href="{% url 'employee_list' %}"> <div class="summary-count text-end fw-bolder mt-3 px-4">See</div></a>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'employee_list' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient bg-info">
                                <i class="fa fa-boxes fs-2"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body" style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Income & Expenditure</div>
                            <a href="{% url 'expenditure_list' %}"> <div class="summary-count text-end fw-bolder mt-3 px-4">See</div></a>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'expenditure_list' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient bg-info">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    



    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body"style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Payrol</div>
                            <a href="{% url 'payroll_list' %}"> <div class="summary-count text-end fw-bolder mt-3 px-4">See</div></a>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'payroll_list' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient  bg-info">
                                <i class="fa fa-list"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body" style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Customer</div>
                            <a href="{% url 'customer' %}"> <div class="summary-count text-end fw-bolder mt-3 px-4">See</div></a>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'customer' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient bg-info">
                                <i class="fa fa-boxes fs-2"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body" style="background-color: yellow;">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Sales Report</div>
                            <a href="{% url 'generate_pdf' %}"> <div class="summary-count text-end fw-bolder mt-3 px-4" style="color: red;">Click file</div></a>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'generate_pdf' %}"> <div class="summary-icon p-3 rounded border text-center bg-gradient bg-info">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>


</div> {% endblock pageContent %} 